body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  background: #3f3f3f;
}

.Player {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
}

.Player h1 {
	color: #efefef;
}
